.data-row td input {
    width: 50px;
}

td.delete i.material-icons:hover {
    color: red;
}
i.material-icons  {
    vertical-align: top;
    color: slategray;
}
button i.material-icons {
    color: white;
    margin-right: 4px;
}
h5{
    color: #999999;
    font-size: .75em;
    font-weight: normal;
}